.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;

}

body{
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#000000 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}


form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
 
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.users{
  position: absolute;
  box-sizing: border-box;
}
.users .buttons{
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  right: 0;
  bottom: -18px;
}

.users button{

  
  background: #f5ba13;
  color: #fff;
  border: none;
  font-size: .7rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-left: 5px;


  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;

}
.navbar{
  width: 100%;
  height: 3rem;
  background: #FFB800;
  color: white;
  font-size: 1.5rem;
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.log button{
        width: 33%;
        border-radius: 20px;
        margin: 0 5px;
        
}